<div class="container-fluidxx">
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
      <h1>Mpopoma The High School</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button> Accounts </a>
        <a mat-button> Create Account </a>
        <a mat-button> Contacts </a>
        <a mat-button> Create Contact </a>
        <a mat-button> Activities </a>
        <a mat-button> Create Activity </a>
      </div>
    </mat-toolbar-row>
  
   
  </mat-toolbar>
  
 
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-nav-list>
        <mat-accordion>
         
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Set Up 
              </mat-panel-title>
             
              
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="ss-admin"> Overview </a>

            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fee Category
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
            
                <a mat-list-item routerLink="ss-admin/fee-categories"> View All </a>

                <a mat-list-item routerLink="ss-admin"> Add New </a>

            
              </mat-expansion-panel>
             
            
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Day of the trip
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
                <a mat-list-item routerLink="ss-admin"> Dashboard </a>
               
              </mat-expansion-panel>
            </mat-accordion>


                <a mat-list-item routerLink="ss-admin/fee-categories">  Fee Categories </a>
          </mat-expansion-panel>
        </mat-accordion>
        <a mat-list-item routerLink="ss-admin"> Dashboard </a>
        <a mat-list-item routerLink="ss-admin/fee-categories">  Fee Categories </a>
        <a mat-list-item> Contacts </a>
        <a mat-list-item> Create Contact </a>
        <a mat-list-item> Activities </a>
        <a mat-list-item> Create Activity </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
          >Close</a
        >
      </mat-nav-list>
    </mat-sidenav>


    <!-- End of side nav -->
    
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <div class="container">
         
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
 
</div>