<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data table</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Simple-datatables</h4>
          <p class=“text-muted”>Read the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank"> Official Simple-datatables Documentation </a>for a full list of instructions and other options.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <table id="academicYearsTable" class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody  *ngIf="schoolYears">
                <tr *ngFor="let year of schoolYears">
                  <td>{{year.year}}</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr>
            
        
              </tbody>
              <tfoot>
                <tr>
                  <th>Test</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>

            <!--div class="d-flex justify-content-center mt-3" *ngIf="pagination">
                <pagination [boundaryLinks]="true"
                 [totalItems]="pagination.TotalCount"
                 [itemsPerPage]="pagination.PageSize"
                 [(ngModel)]="pagination.CurrentPage"
                 (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                </pagination>
          </div -->
        </div>
      </div>
    </div>
  </div>
